.todos {
  width: 300px;
}

.todos > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 0.5em;
}

.todos p {
  margin: 0;
}

.todos span {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
  color: gray;
}
