body {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.training-btn {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
